/* html,
body {
  padding: 0;
  margin: 0;
}



#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
} */

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}
 .footer
{
    background-color: #2D3339;
    color: white;
}
.footer a
{
    line-height: 2.8em;
}
.footer-links a,.footer-links p
{
    color: #aaa;
    text-align: center;
} 

/* .overlay {
  position: bottom;
  width: 600px;
  margin-left: 100px;
  margin-top: -0px;
  height: 200px;
} */